DB_USERNAME=postgres
DB_PASSWORD=secret
DB_NAME=unoroof_nodejs_backend
DB_HOST=host.docker.internal
DB_PORT=5433
DB_SEQUELIZE_DIALECT=postgres
SENTRY_DNS=
DEBUG=true
AUTH_ENDPOINT=http://localhost:3001
ADDRESSBOOK_ENDPOINT=http://localhost:3001
FILES_ENDPOINT=http://localhost:3001
PINCODE_CHECK_API_ENDPOINT=http://localhost:3001
VIDEO_CONSULTATION_HOST=http://localhost:3001
VIDEO_CONSULTATION_SECRET=
VIDEO_CONSULTATION_ACCESS_KEY=
VIDEO_CONSULTATION_TEMPLATE_ID=
NEPTUNE_ENV=
NEPTUNE_ENDPOINT=
NEPTUNE_TOKEN=
PORT=3000
APP_NAME=unoroof_nodejs_backend
DB_SSL=true